<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource = "db.properties">
        <environments default = "dev">
            <environment id = "dev">
                <transactionManager type = "JDBC">
                    <property name "defaultReadOnly" value ="false"/>
                </transactionManager>

                <dataSource type = "POOLED">
                    <property name = "driver" value = "${db.driver}"/>



                </dataSource>

            </environment>

        </environments>
    </properties>
</configuration>